   /* Agrega estilos CSS personalizados aquí 
   body {
    background: #150f21;
    font-size: 18px;
  }*/
.b1-slider {
    /* Estilos para el slider */
    .b1 .owl-item .b1-lanza-video {
        opacity: 0;
        transition: opacity 900ms all 700ms;
    }

    .b1 .owl-item .b1-text h2 {
        opacity: 0;
        transition: opacity 900ms all 800ms;
    }

    .b1 .owl-item .b1-text strong {
        opacity: 0;
        transition: opacity 900ms all 900ms;
    }

    .b1 .owl-item .g-button {
        opacity: 0;
        transition: opacity 900ms all 1000ms;
    }

    .b1 .owl-item.active .b1-lanza-video {
        opacity: 1;
    }

    .b1 .owl-item.active .g-button {
        opacity: 1;
    }

    .b1 .owl-item.active .b1-text h2 {
        opacity: 1;
    }

    .b1 .owl-item.active .b1-text strong {
        opacity: 1;
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        position: absolute;
        width: 100%;
        max-width: 1180px;
        left: 0px;
        right: 0px;
        bottom: 35px;
        margin: auto;
        z-index: 100;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        box-sizing: border-box;
    }

    .owl-dots .owl-dot {
        width: 72px;
        height: 4px;
        background-color: #fff;
        margin-left: 10px;
        cursor: pointer;
        position: relative;
    }

    .owl-dots .owl-dot span {
        position: absolute;
        bottom: 100%;
        color: #fff;
        width: 100%;
        display: block;
        text-align: center;
        opacity: 0;
        font-family: t-1;
        font-size: 16px;
    }

    .owl-dots .owl-dot.active {
        height: 8px;
    }

    .owl-dots .owl-dot.active span {
        opacity: 1;
    }

    .owl-dots .owl-dot:first-child {
        margin-left: 0;
    }

    .b1-slide {
        min-height: 450px;
        height: calc(100vh - 120px);
        position: relative;
    }

    .b1-slide.active_video .b1-inner-video {
        opacity: 1;
        visibility: visible;
    }

    .b1-bg {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center center;
    }

    .b1-bg:before, .b1-bg:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
    }

    .b1-bg:before {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .b1-cnt {
        position: relative;
        z-index: 2;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 1100px;
        width: 100%;
        margin: auto;
    }

    .b1-center {
        max-width: 400px;
        width: 100%;
        margin: 0 auto 0 0;
    }

    .b1-text {
        margin-bottom: 50px;
    }

    .b1-text h2 {
        font-size: 22px;
        color: #fff;
        margin: 0;
        font-family: 'Arial';
        line-height: 1.2;
    }

    .b1-text strong {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Arial';
        display: block;
    }

    .b1-lanza-video, .b1-bottom {
        margin: 0 auto 0 0;
    }

    .b1-lanza-video {
        font-size: 56px;
        color: #fff;
        cursor: pointer;
    }

    .b1-lanza-video i {
        display: block;
        margin-bottom: 25px;
    }

    .b1-inner-video {
        position: absolute;
        left: 0;
        top: -12.5%;
        width: 100%;
        padding-bottom: 56.3%;
        overflow: hidden;
        transition: all 500ms;
        pointer-events: none;
        opacity: 0;
        z-index: 12;
        visibility: hidden;
    }

    .b1-inner-video iframe {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
    }

    @media screen and (max-width: 1440px) {
        .b1 .owl-dots {
            padding-right: 30px;
        }
        .b1-text h2 {
            font-size: 20px;
        }
        .b1-text strong {
            font-size: 30px;
        }
    }

    @media screen and (max-width: 1024px) {
        .b1-lanza-video i {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        .b1-text h2 {
            font-size: 18px;
        }
        .b1-text strong {
            font-size: 25px;
        }
    }

    @media screen and (max-width: 767px) {
        .b1-slide {
            height: 450px;
        }
        .b1-text {
            margin-bottom: 20px;
        }
        .b1 .owl-dots {
            padding-right: 0;
            justify-content: center;
        }
        .b1 .owl-dot {
            width: 50px;
        }
        .b1 .owl-dot span {
            font-size: 12px;
        }
    }
}
